!!!
%html
  %head
    %title Doomhub
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .user_menu
      %span
        = user_login_span_tag(current_user)
    = yield